<h1>Random Number Result</h1>



<dl>
  <dt>
    Minimum
  </dt>
  <dd>
   <%= @user_min %> 
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
   <%= @user_max %>
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
     <%= @random_number %>
  </dd>
</dl>
