<form action="/square_root/results">
  <label for="user_number">Enter a number</label>
  <input type="text" name="number" id="user_number" placeholder="What number do you want to take the square of?">
  <button>Calculate square root</button>
</form>
